@page {
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    margin-top: 1.5cm;
    margin-bottom: 1.5cm;
}

body {
    font-size: 10pt;
    font-family: Serif;
}

.page-header {
    margin-top: 0px;
}

.page-header h1 {
    font-size: 18pt;
    font-weight: bold;
    margin-top: 0px;
}

.page-header h1 small {
    font-style: italic;
}

.list-group-item-heading {
    font-size: 12pt;
    font-weight: bold;
}

.list-group-item-heading > small {
    font-size: 11pt;
}

.lead {
    font-size: 11pt;
}

.dates {
    font-size: 10pt;
}

#content {
    margin-left: auto;
}
